/* For all devices: */
body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.no-gps {
	text-align: center;
	font: 16px/18px Arial, Helvetica, sans-serif;
	margin: auto;
	width: 50%;
	padding: 5%;
}

/* For mobile phones: */
.legend {
    background: rgba(255,255,255,0.8);
    padding: 2px 4px;
    font: 10px/12px Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.legend h6 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.legend i {
   	width: 10px;
   	height: 10px;
   	float: left;
   	margin-right: 4px;
   	opacity: 0.7;
}

.command {
    padding: 2px 4px;
    background: white;
    font: 10px/12px Arial, Helvetica, sans-serif;
    font-size:10px;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    min-width: 10%;
    text-align: center;
}

.command-span-nbPOI {
		color:grey;
    margin-top:2px;
}

.command-span-type {
    margin-top:6px;
}

.command-span-city {
	color:grey;
}

.command-span-title {
  font-size: 12px;
}

.leaflet-container .leaflet-control-attribution {
  padding: 2px 4px;
  font-size:8px;
  }



  .amenitymatrix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    text-align: center;
    font-family: 'Jaldi', sans-serif;
  }



  .amenitymatrix input[type="radio"] {
  	display : none;
  }


  .singleamenity {
    width: 40%;
    border: solid 1px #222;
    border-radius: 5%;
    transition: all 0.1s ease-in;
    margin: 2px;
  }


  .singleamenity:hover {
    transform: scale(1.1);
    opacity: .8;
    cursor: pointer;
    z-index: 100;
    border: solid 2px #000;
    box-shadow: 2px 2px 2px #222;
  }

  .amenitymatrix input[type="radio"]:checked + .singleamenity{
  	opacity: .8;
  	border: solid 4px #0074d9;
  	box-shadow: 2px 2px 2px #222;
  	z-index: 150;
  	transform: scale(1.1);
  	cursor:default;
  }

  div.transport-img {
    content:url(../img/transport-512.svg);
  }

  div.bicycleparking-img {
  	content:url(../img/bicycleparking-512.svg);
  }

   div.bench-img {
  	content:url(../img/bench-512.svg);
  }

  div.wastebasket-img {
  	content:url(../img/wastebasket-512.svg);
  }

  div.toilets-img {
  	content:url(../img/toilets-512.svg);
  }

  #field-amenity {
  	text-align: center;
  	font-size: .9rem;
  	margin-top : 10px;
  }


/* For Desktop: */
@media only screen and (min-width: 768px) {

  .legend {
    background: rgba(255,255,255,0.8);
    padding: 6px 8px;
    font: 16px/18px Arial, Helvetica, sans-serif;
    border-radius: 5px;
  }

  .legend i {
     	width: 18px;
     	height: 18px;
     	float: left;
     	margin-right: 8px;
     	opacity: 0.7;
  }

  .command {
      padding: 4px 6px;
      background: white;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
      min-width: 200px;
  }

  .command-text {
  		text-align: center;
  }

  .command-span-title {
  	font-size: 20px;
  }

  .command-span-city {
  	color:grey;
  	font-size:14px;
  }

  .command-span-nbPOI {
  		color:grey;
      margin-top:6px;
  }

  .command-span-type {
      margin-top:10px;
  }

  .leaflet-container .leaflet-control-attribution {
    padding: 4px 6px;
    font-size:12px;
    }

}
